* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background-color: #fff;
    background-image: none;

}

body {
    overflow-x: hidden;
}

body.scrolled {
    background-color: #eceaea;
    /* Slightly lighter/darker green on scroll */
}

.container-fluid {
    display: flex;
    flex-direction: row;
}

#glo {
    margin-right: 10rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
}

#clo {
    gap: 2rem;

}

#clo a {
    color: #fff;
}

#ral {
    background-image: linear-gradient(to right, #253622, #324b2f);
    border-radius: 50px;
    position: fixed;

    z-index: 999;

    top: 0;
}

#ral.scrolled {
    background-image: none;
    background-color: #272727;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width:768px) {
    #glo {
        margin-right: 0;
        font-size: 2rem;
        margin-left: -1.2rem;
    }

    #clo {
        gap: 0;
    }

    button {
        margin-right: 0;
    }

    #ral {
        border-radius: 0;


    }

    #pp {
        border: #253622;
        filter: brightness(0) invert(1);
    }

    #uu {
        border: #253622;
        font-size: 1.5rem;
    }

    #uu:hover {
        border: #253622;
    }
}




#clop a {
    color: #ff9f1c;
    text-decoration: underline;
}

button {
    margin-left: 12rem;
    padding: 10px 30px;
    border-radius: 50px;
    border: #324b2f;
}

.cc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff9f1c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #253622;
}

.hello {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

}

@media (max-width:768px) {
    .hello {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        display: flex;
        margin: 1rem;

    }

    .hello br {
        display: none;
    }

    .hello h1 u {
        text-decoration: none;
    }

    .hello h1 {
        width: 100%;
        text-align: center;


    }

    .hello h3 {
        font-size: 3rem;
        text-align: center;
        width: 100%;

    }

    .presh .hello h3 {
        font-size: 20px;
        width: 100%;
        font-weight: 400;

    }

    .presh .hello h3 br {
        display: none;
    }

    .presh .hello h1 {
        font-size: 3.5rem;
        width: 100%;
    }

    .tochy {
        width: 100%;
    }


}

.svv {
    position: relative;
    width: 150px;
    height: 40px;
    border: 1.5px solid #3c4b2f;
    display: inline-block;

}

.svv p {
    font-weight: 600;
    font-size: 1.3rem;
    color: #3c4b2f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.svv::before {
    width: 13px;
    height: 10px;
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    border: 2px solid #253622;
    background-color: #ff9f1c;
}

.svv::after {
    width: 13px;
    height: 10px;
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    border: 2px solid #253622;
    background-color: #ff9f1c;
}

.svv .corner {
    position: absolute;
    width: 13px;
    height: 10px;
}

.svv .bottom-left {
    bottom: -6px;
    left: -6px;
    border: 2px solid #253622;
    background-color: #ff9f1c;
}

.svv .bottom-right {
    bottom: -6px;
    right: -6px;
    border: 2px solid #253622;
    background-color: #ff9f1c;
}

.hello h1 {
    margin-top: 1.6rem;
    color: #000;
    font-weight: 500;
    font-size: 3.6rem;
}

.hello u {
    color: #ff9f1c;
    font-weight: 400;
    text-underline-offset: 7px;
    text-decoration: underline;
    text-decoration-thickness: 2.2px;

}

.hello h3 {
    font-size: 16px;
    margin-top: 2rem;
    font-weight: normal;
    color: #626262;
}

.presh {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    margin-top: 7rem;
}

@media (max-width:768px) {
    .presh {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        margin-top: 5rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.tochy {
    width: 450px;
    height: 350px;
    background-color: #f4a300;
    border-radius: 97% 45% 95% 80%;
    margin-top: 4rem;
    position: relative;

}

.tochy img {
    width: 605px;
    height: 610px;
    position: absolute;
    left: -9%;
    top: -45%;
    background-position: center;



}

.cursor svg {
    width: 26px;
    height: 26px;
    color: #253622;
    position: absolute;
    bottom: -11%;
    left: -12%;
    transform: rotate(-90deg);
}

.cursor2 svg {
    width: 26px;
    height: 26px;
    color: #f4a300;
    position: absolute;
    bottom: 24%;
    right: 21%;
    transform: rotate(-90deg);
}

.hire {
    width: 100px;
    height: 100px;
    background-color: #253622;
    border-radius: 50%;
    position: absolute;
    right: -8%;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;


}

/* .small{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f4a300;
}
.glo p{
    font-size: 14px;
    color: #fff;
    position: absolute;
    transform-origin: center;
    
}
.glo{
    position: relative;
} */
.ssm {
    width: 30px;
    height: 30px;
    background-color: #ff9f1c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.ssm svg {
    font-weight: bold;

}

.web {
    width: 200px;
    height: 50px;
    background-color: #f4a300;
    border-radius: 50px;
    position: absolute;
    bottom: 12%;
    right: -21%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.web p {
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 10px;

}

.ux {
    width: 200px;
    height: 50px;
    background-color: #3c4b2f;
    border-radius: 50px;
    position: absolute;
    bottom: -22%;
    left: -8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;


}

.ux p {
    font-weight: 500;
    font-size: 1.4rem;
    padding-top: 10px;
}

.view {
    width: 250px;
    height: 50px;
    margin-right: 1em;
    background-color: #ff9f1c;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my {
    width: 200px;
    height: 50px;
    background-color: #253622;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    margin-right: 1em;
}

.sick {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hid {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: 1.5px solid #253622;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}

.hid a {
    color: #253622;
    text-decoration: none;
}

.hid a:hover {
    color: #f4a300;
}

.right {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.sick i {
    font-size: 20px;
    color: #253622;
}

@media(max-width:768px) {
    .right {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        justify-content: center;
        align-items: center;

    }

    .view {
        width: 400px;
        height: 60px;


    }

    .sick {
        margin-right: 1rem;
        padding: 1.5rem;


    }

    .right .view {
        font-size: 20px;
    }

    .my {
        width: 400px;
        height: 60px;
    }

    .hid {
        width: 400px;
        height: 60px;
    }

    .right .hid a {
        font-size: 20px;
    }

    .presh .hello {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hire {
        right: 0;
    }

    .tochy img {
        width: 600px;
    }

    .cursor svg {
        left: 3%;
        transform: rotate(-5deg);
        bottom: -3%;
    }

    .web {
        right: 0;
    }

    .ux {
        left: 0;
    }

    .cursor2 svg {
        right: 10%;
        bottom: 27%;
    }


}

.app {
    width: 100%;
    background-color: #324b2f;
    height: 50px;
    margin-top: 6rem;
    transform: skewY(-2deg);
    transform-origin: top left;
    position: relative;
}

.app1 {
    width: 100%;
    background-color: #324b2f;
    height: 30px;
    margin-top: ;
    transform: skewY(-2deg);
    transform-origin: bottom left;
    position: absolute;
}

.app2 {
    width: 100%;
    background-color: #f28c28;
    height: 70px;
    margin-top: -4rem;
    position: absolute;


}

.app2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.2rem;
    font-weight: bold;
    align-items: center;
    gap: 3rem;
    line-height: 70px;
    animation: marquee 15s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width:768px) {
    .app {
        display: none;
    }

    .app1 {
        display: none;
    }

    .app2 {
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        line-height: 40px;
        flex-direction: row;
        display: none;
    }

    .app2 ul {
        width: 100%;
        font-size: 12px;
        position: none;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;


    }

    .app2 ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

    }
}

.service {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
}

.service p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;



}

.service p {
    color: #253622;
    font-size: 1.2rem;
    font-weight: 400;

}

.provide {
    margin-top: -6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.provide h3 {
    font-size: 2.6rem;
    color: #f4a300;
}

.provide span {
    font-size: 2.6rem;
    color: #0a0a0a;
}

.might {
    display: flex;
    flex-direction: row;
    margin-top: -6px;

}

.sick i {
    font-size: 20px;
    color: #253622;
}

@media(max-width:768px) {
    .service {
        width: 100%;
        margin: 0;
        margin-top: 8rem;
    }

    .service .might {
        display: none;
    }

    .service p {
        text-align: center;
        font-size: 1.6rem;
    }

    .provide h3 {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
    }

    .provide span {
        font-size: 2.5rem;
    }
}

.craft {
    width: 380px;
    height: 300px;
    background-color: #f2efef;
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;


}

.small-c {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.small-c i {
    padding: 1.5rem;
    font-size: 3rem;


}

.craft h4 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;

}

.craft h2 {
    margin-top: 2rem;
    font-size: 1.7rem;
}

.craft h3 {
    font-size: 20px;
    margin-top: 8px;
}

.all {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}






@media (max-width:768px) {
    .all {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        justify-content: center;
        align-items: center;
    }

}

.large {
    width: 100%;
    height: 550px;
    background-color: #253622;
    margin-top: 5rem;
}

.design {
    width: 380px;
    height: 390px;
    background-color: #f4a300;
    border-radius: 50%;

}

.group {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7rem;
}

@media(max-width:768px) {
    .group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding-top: 5rem;
    }

    .about {
        width: 100%;
    }

    .large {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1300px;
    }

    .about .hund {
        display: flex;
        flex-direction: column;

    }

    .group .design img {

        width: 620px;
    }

    .about {
        padding: 1rem;
    }

    .six h2 {
        font-size: 3rem;
    }

    .about h1 {
        width: 100%;
    }

    .six h4 {
        font-size: 2rem;
    }

    .about p {
        font-size: 1.3rem;
    }

    .miew {
        width: 150px;
        padding-left: 2px;
        margin-top: 1rem;
    }
}

.about {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 6px;
}

.six {
    display: flex;
    flex-direction: column;
}

.hund {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.myt {
    width: 185px;
    height: 45px;
    background-color: #253622;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    margin-right: 1em;

}

.about h3::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;

}

.about h3 {
    font-size: 1.2rem;
}

.about span {
    color: #ff9f1c;
    font-size: 3rem;
    font-weight: 400;
}

.about h1 {
    font-size: 3rem;
}

.six h2 {
    color: #f4a300;
}

.six h4 {
    font-size: 1rem;
}

.design img {
    width: 700px;
    height: 430px;
    object-position: center;
    position: absolute;
    top: -17%;
    left: -22%;
}

.design {
    position: relative;
}

.wight {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}


.tag1 {
    bottom: 14px;
    left: 35%;
    transform: rotate(0deg);
    position: absolute;
    padding: 7px 14px;
    border: 2px solid #fff;
    background-color: #f4a300;
    border-radius: 40px;
    font-weight: bold;
    opacity: 1;
}

.circle-container {
    position: relative;
    top: 60%;

}

.tag6 {
    bottom: -140px;
    left: 28%;
    transform: rotate(0deg);
    padding: 7px 14px;
    border: 2px solid #fff;
    background-color: #f4a300;
    border-radius: 40px;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
}

[data-aos].aos-animate {
    visibility: visible;
}

.tag4 {
    bottom: -80px;
    left: 6%;
    transform: rotate(14deg);
    position: absolute;
    padding: 7px 14px;
    border: 2px solid #fff;
    background-color: #f4a300;
    border-radius: 40px;
    font-weight: bold;
    visibility: hidden;
}

.tag7 {
    bottom: -80px;
    right: 2.5%;
    transform: rotate(-37deg);
    position: absolute;
    padding: 7px 14px;
    border: 2px solid #fff;
    background-color: #324b2f;
    border-radius: 40px;
    font-weight: bold;
    color: #fff;
    visibility: hidden;
}

.tag5 {
    bottom: -90px;
    left: 43%;
    transform: rotate(0deg);
    position: absolute;
    padding: 6px 10px;
    border: 2px solid #fff;
    background-color: #324b2f;
    border-radius: 40px;
    font-weight: bold;
    color: #fff;
    visibility: hidden;
}

.tag3 {
    bottom: -30px;
    right: 9%;
    transform: rotate(-12deg);
    position: absolute;
    padding: 7px 14px;
    border: 2px solid #fff;
    background-color: #f4a300;
    border-radius: 40px;
    font-weight: bold;
    visibility: hidden;
}

.tag2 {
    bottom: -30px;
    left: 5%;
    transform: rotate(8deg);
    position: absolute;
    padding: 7px 14px;
    border: 2px solid #fff;
    background-color: #324b2f;
    border-radius: 40px;
    font-weight: bold;
    color: #fff;
    visibility: hidden;
}

.miew {
    width: 250px;
    height: 50px;
    margin-right: 1em;
    background-color: #ff9f1c;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favourite {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media(max-width:768px) {
    .favourite {
        width: 100%;

    }

    #mj {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .port {
        width: 100%;
    }

    .fig {
        width: 96px;
    }
}

.favourite p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -7px;

}

.favourite p {
    font-size: 20px;
    font-weight: 400;
}

.favourite h2 {
    color: #ff9f1c;
    font-size: 2.7rem;
    font-style: italic;
    transform: skewX(2deg);
    font-weight: 450;
}

.favourite h3 {
    font-size: 2.6rem;
    font-weight: 610;
}

/* Initial hidden state */
.slide-in {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1.2s ease-out;

}

/* When element is in view */
.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}

.poly {
    margin: 3rem;
    display: flex;
    gap: 2.2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    width: 130px;
    height: 200px;
    border-radius: 70px;
    background-color: #f2efef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.round {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round img {
    width: 70px;
    height: 50px;
    object-fit: cover;

}

.main h2 {
    font-size: 1.6em;
    margin-top: 1.3rem;
}

.poly p {

    font-size: 18px;
}

.fig {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.port {
    width: 100%;
    height: 1430px;
    margin-top: 4rem;
    background-color: #f2efef;
    padding-bottom: 1rem;


}

.prolly {
    margin-left: 5rem;
    margin-right: 5rem;


}

.prolly p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;



}

.prolly p {
    color: #253622;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 5rem;

}

.glar {
    margin-top: -6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.glar span {
    font-size: 2.6rem;
    color: #f4a300;

    font-weight: 450;
    font-style: oblique .2deg;

}

.glar h3 {
    font-size: 2.6rem;
    color: #0a0a0a;
}

.might {
    display: flex;
    flex-direction: row;
    margin-top: -6px;

}

.sick i {
    font-size: 20px;
    color: #253622;
}

.square {
    width: 530px;
    height: 540px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 2.5rem;


}

.square:hover {

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.square:hover {}

.square img {
    width: 530px;
    height: 410px;
    object-fit: cover;
    padding: 1rem;
}

.wire {
    width: 120px;
    height: 35px;
    background-color: hsl(35, 100%, 55%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 8px;
    margin-right: -10px;
}

.wire h4 {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 7px;

}

.bix {
    display: flex;
    flex-direction: row;


}

.port h5 {
    font-weight: 600;
    font-size: 1.5em;
    padding-left: 1rem;


}

.eel {
    display: flex;
    flex-direction: row;
    gap: 8rem;

}

.pick {
    width: 40px;
    height: 40px;
    background-color: #253622;
    border-radius: 50px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick svg {
    color: #ff9f1c;
}

.meel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5rem;
    padding-right: 4rem;
    gap: 0;
}

@media (max-width:768px) {
    .prolly {
        width: 100%;
        margin: 0;
    }

    .meel {
        width: 100%;
        margin: 0;
    }

    .port .might {
        display: none;
    }

    .meel {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .square img {
        width: 100%;
    }

    .square {
        width: 100%;

    }

    .square .wire {

        width: 100px;

    }

    .wire h4 {
        font-size: 14px;
    }

    .eel {
        gap: 1rem;
    }

    .port h5 {
        font-size: 1.4rem;
    }

    .prolly {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .prolly p {
        padding-top: 3.5rem;
    }

    .port {
        height: 2550px;
    }

    .poly .main {
        width: 100%;
    }
}

.edu {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edu p {
    font-size: 20px;
}

.edu p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;
}

.edu h2 {
    font-size: 2.8rem;
    text-align: center;
}

.edu span {
    color: #f4a300;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.work {
    width: 480px;
    height: 520px;
    border-radius: 10px;
    background-color: #f2efef;
    padding: 20px;
}

.cap {
    display: flex;
    flex-direction: row;
    gap: 14px;
    vertical-align: middle;
    align-items: center;
    padding-top: 6px;
}

.yel {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #f28c28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cap h1 {
    font-size: 2rem;

}

.harm {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 120px;
    margin-top: 1.3rem;
    padding: 1rem;
    box-shadow: -4px 0px 1.5px rgba(0, 0, 0, 0.2);


}

.harm h3 {
    font-size: 18px;
    color: #626262;
}

.harm h2 {
    font-size: 1.5rem;
}

.clo {
    display: flex;
    flex-direction: column;
}

.gel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1.6rem;
}

@media (max-width:768px) {
    .gel {
        display: flex;
        flex-direction: column;

    }

    .work {
        width: 100%;
    }

    .harm {
        width: 100%;
    }

    .edu {
        margin-top: 3.5rem;
        width: 100%;
    }
}

.price {
    margin-top: 5rem;
    width: 100%;
    height: 850px;
    background-color: #31452e;
    padding: 3rem;
}

.model {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.price p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;
}

.model h4 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.model span {
    color: #f4a300;
    font-style: oblique;
    font-weight: 400;
}

.wyt {
    width: 185px;
    height: 45px;
    background-color: #31452e;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    margin-right: 1em;
}

.lorem {
    margin-top: 1.5rem;
    width: 360px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    padding: 1.5rem;


}

.hour {
    width: 310px;
    height: 150px;
    background-color: #31452e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.3rem;
    position: relative;


}

.hour h3 {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 1px;
}

.hour h1 {
    color: #ff9f1c;
    margin-top: 1rem;
    font-size: 3rem;
}

.hour span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;

}

.ore {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ff9f1c;
    position: absolute;
    top: 15%;
    right: 6.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tick {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff9f1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lor {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1.5rem;


}

.lor h4 {
    font-size: 17px;
    color: #f2efef;
    vertical-align: middle;
    font-weight: 400;

}

.ally {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.giving {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.morem {
    margin-top: 1.5rem;
    width: 360px;
    height: 600px;
    background-color: #f4a300;
    border-radius: 10px;
    padding: 1.5rem;


}

.mick {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #253622;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4a300;

}

.mor {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1.5rem;

}

.mor h4 {
    font-size: 17px;
    color: #000;
    vertical-align: middle;
    font-weight: 400;
}

@media(max-width:768px) {
    .price {
        width: 100%;
        padding: 0;
        margin-top: 3rem;
        height: 2050px;
    }

    .price .tiew {
        display: none;
    }

    .price .model {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

    .giving {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }


}

.tiew {
    width: 250px;
    height: 50px;
    margin-right: 1em;
    background-color: #ff9f1c;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact {
    margin: 4.5rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 7rem;
}

.us p {
    font-size: 20px;
}

.us p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;
}

.us span {
    color: #f4a300;
    font-style: oblique;
    font-weight: 400;
}

.us h1 {
    font-size: 2.8rem;
}

.us h3 {
    font-size: 17px;
    color: #626262;
    font-weight: 400;
    margin-top: 1rem;
}

.cat {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 2rem;
    margin-bottom: -7px;


}

.phon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ff9f1c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cat h4 {
    font-size: 17px;
    color: #626262;
    font-weight: 400;
    padding-top: 6px;

}

.kit {
    display: flex;
    flex-direction: column;

}

.kat {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 2rem;
    margin-bottom: -7px;
}

.kat h4 {
    font-size: 17px;
    color: #626262;
    font-weight: 400;

}

.your input {
    background-color: #f2efef;
    width: 300px;
    height: 47px;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.7rem;
}

.your h6 {
    font-size: 16.8px;
    font-weight: 400;
}

.your select {
    background-color: #f2efef;
    width: 300px;
    height: 45px;
    padding-left: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.7rem;
    color: #626262;
}

.lour input {
    background-color: #f2efef;
    width: 380px;
    height: 150px;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.7rem;
    padding-bottom: 7rem;
}

.lour h6 {
    font-size: 16.8px;
    font-weight: 400;

}



.vieww {
    width: 200px;
    height: 50px;
    margin-right: 1em;
    background-color: #ff9f1c;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.myy {
    width: 150px;
    height: 50px;
    background-color: #253622;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    margin-right: 1em;
}

.phon i {
    font-size: 20px;
}

@media (max-width:768px) {
    .contact {
        margin: 0;
        width: 100%;
    }

    .us {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
        margin-top: 1em;

    }

    .kit {
        margin-left: 2rem;
    }

    .lour {
        width: 100%;
        padding-left: 3rem;
    }

    .lour input {
        width: 400px;
    }

    .your option {
        font-size: 8px;
    }

    .kat br {
        display: none;

    }

    .kat h4 {
        padding-top: 5px;
    }
}

.impal {
    margin-top: 5rem;
    width: 100%;
    height: 700px;
    background-color: #f2efef;


}

.client {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.client p {
    font-size: 20px;

}

.client p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;
}

.client h2 {
    font-size: 3.2rem;
    color: #f4a300;
    font-weight: 375;
    font-style: oblique;
    margin-top: -10px;
}

.client h1 {
    font-size: 3rem;
    color: #0a0a0a;
    margin-top: -4px;
}

.rate {
    margin-top: 4rem;
    width: 600px;
    height: 245px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

.star {
    display: flex;
    flex-direction: row;
    gap: 3px;

}

.star i {
    font-size: 24px;
    color: #f4a300;
}

.star h3 {
    font-size: 18px;
    padding-top: 8px;
    font-weight: 400;
    padding-left: 3px;
}

.rate span {
    margin-top: 7px;
    font-size: 16.5px;
    font-weight: normal;
    color: #464545;
}

.pic {
    /* width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #dbd8d8;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.pic img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #dbd8d8;
    background-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.fly {
    display: flex;
    flex-direction: row;
    margin-top: 1.3rem;
    gap: 8px;
    vertical-align: middle;
}

.lave {
    display: flex;
    flex-direction: column;
}

.lave h5 {
    font-size: 17px;
    margin-top: 2px;
}

.lave h6 {
    font-size: 16.2px;
    color: #464545;
    font-weight: normal;
    margin-top: -2px;
}

.able {
    display: flex;
    flex-direction: row;

    gap: 2rem;
}

@media(max-width:768px) {
    .impal {
        width: 100%;


    }

    .rate {
        width: 350px;
        height: 340px;

        margin-bottom: -5.5rem;

    }

    .able {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: .7rem;
    }

    .client {
        padding-top: 3rem;
        width: 100%;
    }

    .client h1 {
        font-size: 2rem;
    }

    .client h2 {
        font-size: 1.8rem;
        padding-top: 7px;
    }

    .rate span {
        font-size: 16px;
    }

}

.blog {
    margin-top: 6rem;
}

.blog p {
    font-size: 20px;
}

.blog p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;
}

.dhl {
    margin: 4rem;
}

.blog h1 {
    font-size: 3rem;
    margin-top: -7px;
}

.jul h2 {
    font-size: 3rem;
    color: #f4a300;
    font-style: oblique;
    font-weight: 400;
    margin-top: -7px;
}

.jul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.didi img {
    width: 360px;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.may {
    display: flex;
    flex-direction: row;
}

.may h3 {
    padding: 6px 12px;
    background-color: #f28c28;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 1rem;
}

.didi {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 2.5rem;
}

.didi h5 {
    font-size: 1.5rem;
    font-weight: 500;
}

.didi a {
    color: #0a0a0a;
}

.didi h6 {
    color: #626262;
    font-weight: 400;
    font-size: 17px;

}

.mehek {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

@media (max-width:768px) {
    .mehek {
        display: none;
    }

    .dhl {
        display: none;
    }
}

.green {
    width: 100%;
    height: 732px;
    background-color: #31452e;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.green p {
    font-size: 20px;
    color: #fff;
    padding-bottom: -4rem;
    padding-top: 8em;
}

.green p::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 2.1px;
    background-color: #f28c28;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -9px;
}

.green h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 2em;
    margin-top: -.5rem;
}

.green span {
    color: #ff9f1c;
    font-style: oblique;
    font-weight: 400;
}

.accordion {
    margin-left: 4rem;
    margin-right: 4rem;
    width: 400px;
}

@media (max-width:768px) {
    #ee {
        margin: 0;
        width: 100%;
    }

    .green {
        width: 100%;
        margin-top: 4rem;
        height: 830px;
    }

    #pt {
        font-size: 20px;

    }

    #pt::after {
        font-size: 1.8rem;
    }

    .fa h1 {
        width: 100%;
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
}

.place {
    margin-left: 4rem;
    margin-right: 4rem;
}

.grace {
    margin-top: -4rem;
}

.fa {
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 100%;
    height: 70px;
    background-color: #f28c28;

}

.frame ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    line-height: 70px;
}

.frame ul li i {
    font-size: 2rem;
    font-weight: normal;

}

@media (max-width:768px) {
    .frame ul li {
        font-size: 17px !important;
        padding-right: .5em;
    }

    .frame ul li i {
        font-size: 18px;
    }

    .frame ul {
        width: 100% !important;
        justify-content: flex-start;
        padding: 0;
        line-height: 50px;
    }

    .frame {
        height: 50px;
    }
}


.frame ul li {
    font-size: 2.2rem;
    font-weight: 620;
}

.let {
    margin-top: 4rem;
    margin-left: 9rem;
    margin-right: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

@media (max-width:768px) {
    .let {
        margin-top: 2rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        justify-content: flex-start;
        display: none;
    }

    #mm {
        margin: 0;
        width: 100%;
        gap: 0;

    }

    .let h2 {
        font-size: 1rem !important;
    }

    #jk {
        width: 30px;
    }

    .iga {
        display: none !important;
    }

}

.let span {
    color: #f4a300;
    font-style: oblique;
    font-weight: 400;
}

.let h2 {
    font-size: 2.8rem;
}

.latest {
    margin-top: 2rem;
    margin-left: 9rem;
    margin-right: 9rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 380px;
    padding-top: 2rem;

}

.via {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f28c28;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.oli {
    display: flex;
    flex-direction: row;
    gap: 6px;

    align-items: center;
}

.oli h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 6px;
}

.reset {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

}

.reset p {
    color: #464545;
    font-size: 16px;
}

.fb {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-top: -.5rem;
}

.inst {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f28c28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iga {
    display: flex;
    flex-direction: column;

}

.iga ul {
    list-style: none;



}

.iga .ll {
    color: #f28c28;
    padding-bottom: 1.4rem;
    font-size: 1rem;
    font-weight: 500;
}

.iga ul li {
    padding-bottom: 14px;
    color: #464545;
    font-size: 15px;
}


.email-wrapper {
    display: flex;
    border-radius: 8px;
    height: 40px;
    width: 260px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 -2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: -.7rem;
    margin-left: 2rem;
}


.email-wrapper input {
    flex: 1;
    padding: 12px 16px;
    border: none;
    outline: none;
    font-size: 16px;


}

.send-btn {
    background-color: #253622;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    transition: background 0.3s;
    color: #f28c28;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.send-btn span {
    font-size: 18px;
}

.send-btn:hover {
    background-color: #444;
}

.send-btn i {
    fill: #f28c28;
    width: 20px;
    height: 20px;
}

.tems {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, #253622, #324b2f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    bottom: 0;
    position: static;

}

.tems h2 {
    color: #f2efef;
    font-size: 1.3rem;
    font-weight: normal;
}

.tems span {
    color: #f4a300;
}

.inst i {
    font-size: 20px;
}

@media (max-width:768px) {
    .tems h2 {
        font-size: 10px;
    }

    .tems {
        padding: 0;
    }

    @media(max-width:768px) {
        #glo {
            margin: 0 !important;
            font-size: 1.6rem !important;
            text-align: center;
        }
    }
}

.siza {
    width: 1880px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.viewport {
    overflow: hidden;
    width: 100%;
}

@media (max-width:768px) {
    .siza {
        width: 100% !important;
        margin: 0;


    }

    #pj {}

    #track {
        width: 100%;
    }
}

.track {
    display: flex;

    transition: transform 0.4s ease;


}

.card:last-child {
    margin-right: 0;
}

.card {
    /* make perfect squares that shrink on small screens */
    flex: 0 0 600px;
    box-shadow: 0 6px 16px rgba(10, 20, 40, 0.08);
    user-select: none;
    margin-top: 4rem;
    width: 600px;
    height: 245px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin-right: 20px;

}


/* Controls container (below the cards) */
.controls {
    margin-top: 18px;
    display: flex;
    justify-content: center;

}

.btn2 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    display: inline-grid;
    place-items: center;
    background: #324b2f;
    box-shadow: 0 6px 14px rgba(10, 20, 40, 0.08);
    cursor: pointer;
    transition: transform 150ms, box-shadow 150ms;
    font-size: 18px;
    margin-left: .8rem;
    padding: 4px;
}

.btn2:active {
    transform: translateY(1px)
}

.btn2:focus {
    outline: #324b2f;
    outline-offset: 3px
}

.btn2:hover {
    background: #3c5839;
}


.btn1 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    display: inline-grid;
    place-items: center;
    background: #f4a300;
    box-shadow: 0 6px 14px rgba(10, 20, 40, 0.08);
    cursor: pointer;
    transition: transform 150ms, box-shadow 150ms;
    font-size: 18px;
    margin-left: -2rem;
    padding: 4px;
}

.btn1:active {
    transform: translateY(1px)
}

.btn1:focus {
    outline: #324b2f;
    outline-offset: 3px
}

.btn1:hover {
    background: #f7a707;
}

.accordion {
    width: 950px;

}

.accordion-item {
    background: rgba(255, 255, 255, 0.11);
    margin-bottom: 8px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: none;

}

.accordion-header {
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.accordion-header::after {
    content: '+';
    position: absolute;
    right: 25px;
    transition: transform 0.3s ease;
    font-size: 2rem;

}

.accordion-item.active .accordion-header::after {
    content: '-';
    transform: rotate(180deg);
    font-size: 3rem;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #f4a300;
    color: #262525;
    font-size: 1rem;
}

.accordion-item.active {
    background: #f4a300;
    color: #000;
}

.accordion-item.active .accordion-header {
    color: #000;
}

.accordion-item.active .accordion-content {
    max-height: 200px;
    padding: 15px 20px;

}

.accordion-item.active .accordion-icon {
    transform: rotate(45deg);
}